.item {
	text-align: center;
	cursor: pointer;
	position: relative;
}
.item a {
	color: #fff;
	text-decoration: none;
}
.item p {
	transition: color 0.3s ease 0s;
}
.item:hover.item p {
	color: #a1a1fd;
}

.price {
	display: inline-flex;
}
