.item {
	padding: 24px;
	border-radius: 40px;
	background-color: #1c1c21;
}
.link {
	display: flex;
	flex-direction: column;
	gap: 24px;
	color: #f2f2f3;
	text-decoration: none;
	transition: color 0.3s ease 0s;
}
.info {
	display: flex;
	justify-content: space-between;
}
.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}
.orderItems {
	display: inline-flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
.orderItem {
	position: relative;
	border: double 2px transparent;
	background-image: linear-gradient(#131316, #131316),
		linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
	background-origin: border-box;
	background-clip: content-box, border-box;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	background-color: #131316;
}
.orderItem:not(:last-child) {
	margin-left: -16px;
}

.remainingItems {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;

	border-radius: 50%;
	color: #f2f2f3;
	font-size: 18px;
}

.orderItemImg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 112px;
}
.price {
	display: flex;
	align-items: center;
	gap: 8px;
}
