.profile {
	padding-top: 120px;
	display: flex;
}
.actions {
	max-width: 320px;
	margin-right: 60px;
}
.buttons {
	display: flex;
	gap: 20px;
	margin-top: 24px;
	align-items: center;
	justify-content: flex-end;
}
