.resetPassword {
	composes: login from '../login-form/login-form.module.css';
}
.form {
	composes: form from '../login-form/login-form.module.css';
}

.line {
	composes: line from '../login-form/login-form.module.css';
}
.link {
	composes: link from '../login-form/login-form.module.css';
}
.link:hover {
	color: #a1a1fd;
}
