.wrapper {
	z-index: 2;
	position: absolute;
	background-color: #1c1c21;
	top: 50%;
	left: 50%;
	width: 720px;

	transform: translate(-50%, -50%);
	border: 1px solid #4c4cff41;
	border-radius: 40px;
}

.close {
	position: absolute;
	top: 60px;
	right: 40px;
}
