ul,
li,
ol,
dl {
	list-style: none;
}

img {
	width: 100%;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
button {
	background: none;
	border: none;
	outline: none;
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
}
